html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url(../images/topography.png);
    margin-bottom: 60px;
}

#nav-style {
    background-color: #fff;
    border-bottom: 1px solid black;
}

nav a {
    padding: 0px 5px;
    text-decoration: none;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #919191;
}

a:hover {
    color: #616161;
    text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #666666;
    border-top: 5px solid #4eaaa4;
}

.footer p {
    color: #fff;
    font-size: 12px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#margin-bot {
    margin-bottom: 60px;
}

.img-margin-top {
    margin-top: 15px;
}


.text-overlay {
    text-align: center;
    background-color: #4eaaa4;
    padding: 10px;

    color: #fff;
}


/*
@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}
*/


.content-title,
.sidebar-title {
    color: #4eaaa4;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: 700;
}

#green-background {
    background-color: #4eaaa4;
    border: none;
}

#logotype {
    text-align: center;
    padding: 20px 10px;
    background-color: #4eaaa4;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    font-family: Georgia, Times, Times New Roman, serif;
}
